// Colors //
$white: #ffffff;
$black: #232c35;
$grey: #727d86;
$mediumGrey: #acb8c1;
$salmon: #f4555d;
$orange: #fc9e00;
$mustard: #f9cc4a;
$oliveGreen: #8cd187;
$aqua: #2fc9da;

// Gradients //
$primaryGradient: linear-gradient(126deg, $salmon, $orange 99%);
$portugalGradient: linear-gradient(45deg, $salmon, $mustard, $oliveGreen);