// Fonts //
$font: 'Lato', sans-serif;
$font-regular: 400;
$font-bold: 700;

// Colors //
$white: #ffffff;
$black: #232c35;
$grey: #727d86;
$mediumGrey: #acb8c1;
$salmon: #f4555d;
$orange: #fc9e00;
$mustard: #f9cc4a;
$oliveGreen: #8cd187;
$aqua: #2fc9da;

// Gradients //
$primaryGradient: linear-gradient(126deg, $salmon, $orange 99%);
$portugalGradient: linear-gradient(45deg, $salmon, $mustard, $oliveGreen);

// Font Sizes //
$font-giant: 56px;
$font-xxl: 36px;
$font-xl: 30px;
$font-l: 24px;
$font-m: 17px;
$font-s: 15px;
$font-xs: 11px;
// Font Sizes Mobile //
$font-giant-mobile: 30px;
$font-xxl-mobile: 24px;
$font-xl-mobile: 24px;
$font-l-mobile: 17px;
$font-m-mobile: 17px;
$font-s-mobile: 15px;
$font-xs-mobile: 11px;

// Theme Base Background-Color //
[data-theme="black"] {
    background-color: $black;
}

[data-theme="primaryGradient"] {
    background: $primaryGradient;
}

// Box-shadow //
$box-shadow: 0px 50px 50px 0 rgba(35, 44, 53, 0.08);

// Mobile blue outline remover //
%outline {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

// Animations //

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}