// Transition
@mixin transition($property: all, $duration: .2s, $ease: ease, $delay: 0s) {
    -webkit-transition: $property $duration $ease $delay;
    -moz-transition: $property $duration $ease $delay;
    -ms-transition: $property $duration $ease $delay;
    -o-transition: $property $duration $ease $delay;
    transition: $property $duration $ease $delay;
}

// Media Queries
@mixin mq($smallerValue, $biggerValue) {
	@media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
		@content;
	}
}

@mixin tablet() {
	@media (min-width: 0) and (max-width: 767px) {
		@content;
	}
}

@mixin mobile() {
	@media (min-width: 0) and (max-width: 511px) {
		@content;
	}
}

// Fonts

@mixin fontGiant($color: $black) {
    font-family: $font;
    font-size: $fontGiant;
    line-height: 70px;
    letter-spacing: -0.6px;
    color: $color;
    @include tablet {
        font-size: $fontGiantMobile;
        line-height: 40px;
        letter-spacing: -0.3px;
    }
}

@mixin fontXXL($color: $black) {
    font-family: $font;
    font-size: $fontXXL;
    line-height: 42px;
    letter-spacing: -0.3px;
    color: $color;
    @include tablet {
        font-size: $fontXXLMobile;
        line-height: 33px;
        letter-spacing: -0.2px;
    }
}

@mixin fontXL($color: $black) {
    font-family: $font;
    font-size: $fontXL;
    line-height: 40px;
    letter-spacing: -0.3px;
    color: $color;
    @include tablet {
        font-size: $fontXLMobile;
        line-height: 33px;
        letter-spacing: -0.2px;
    }
}

@mixin fontL($color: $black) {
    font-family: $font;
    font-size: $fontL;
    line-height: 33px;
    letter-spacing: -0.2px;
    color: $color;
    @include tablet {
        font-size: $fontLMobile;
        line-height: 26px;
        letter-spacing: -0.1px;
    }
}

@mixin fontM($color: $black) {
    font-family: $font;
    font-size: $fontM;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: $color;
    @include tablet {
        font-size: $fontMMobile;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
}

@mixin fontS($color: $black) {
    font-family: $font;
    font-size: $fontS;
    line-height: 24px;
    color: $color;
}

@mixin fontXS($color: $black) {
    font-family: $font;
    font-size: $fontXS;
    line-height: 17px;
    color: $color;
}