// Transition
@mixin transition($property: all, $duration: 0.2s, $ease: ease, $delay: 0s) {
    -webkit-transition: $property $duration $ease $delay;
    -moz-transition: $property $duration $ease $delay;
    -ms-transition: $property $duration $ease $delay;
    -o-transition: $property $duration $ease $delay;
    transition: $property $duration $ease $delay;
}

// Media Queries
@mixin mq($smallerValue, $biggerValue) {
	@media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
		@content;
	}
}

@mixin tablet() {
	@media (min-width: 0) and (max-width: 767px) {
		@content;
	}
}

// Fonts

@mixin fontGiant() {
    font-family: $font;
    font-size: $fontGiant;
    line-height: 70px;
    letter-spacing: -0.6px;
    @include mq(0, 767px) {
        font-size: $fontGiantMobile;
        line-height: 40px;
        letter-spacing: -0.3px;
    }
}

@mixin fontXXL() {
    font-family: $font;
    font-size: $fontXXL;
    line-height: 42px;
    letter-spacing: -0.3px;
    @include mq(0, 767px) {
        font-size: $fontXXLMobile;
        line-height: 33px;
        letter-spacing: -0.2px;
    }
}

@mixin fontXL() {
    font-family: $font;
    font-size: $fontXL;
    line-height: 40px;
    letter-spacing: -0.3px;
    @include mq(0, 767px) {
        font-size: $fontXLMobile;
        line-height: 33px;
        letter-spacing: -0.2px;
    }
}

@mixin fontL() {
    font-family: $font;
    font-size: $fontL;
    line-height: 33px;
    letter-spacing: -0.2px;
    @include mq(0, 767px) {
        font-size: $fontLMobile;
        line-height: 26px;
        letter-spacing: -0.1px;
    }
}

@mixin fontM() {
    font-family: $font;
    font-size: $fontM;
    line-height: 26px;
    letter-spacing: -0.1px;
    @include mq(0, 767px) {
        font-size: $fontMMobile;
        line-height: 26px;
        letter-spacing: -0.1px;
    }
}

@mixin fontS() {
    font-family: $font;
    font-size: $fontS;
    line-height: 24px;
    @include mq(0, 767px) {
        font-size: $fontSMobile;
        line-height: 24px;
    }
}

@mixin fontXS() {
    font-family: $font;
    font-size: $fontXS;
    line-height: 17px;
    @include mq(0, 767px) {
        font-size: $fontXSMobile;
        line-height: 17px;
    }
}