// Generic Skeleton structure //
html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    font-family: $font;
    font-weight: $fontRegular;
    -webkit-font-smoothing: antialiased;

    &.noScroll {
        overflow: hidden;
    }

}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;

    &.noPadding {
        padding: 0;
    }

}

section {
    width: 100%;

    // Data-margin-top //
    &[data-margin-top="80"] {
        padding-top: 80px;
        @include tablet {
            padding-top: 40px;
        }
    }

    &[data-margin-top="60"] {
        padding-top: 60px;
        @include tablet {
            padding-top: 30px;
        }
    }

    &[data-margin-top="40"] {
        padding-top: 40px;
        @include tablet {
            padding-top: 20px;
        }
    }

    &[data-margin-top="20"] {
        padding-top: 20px;
        @include tablet {
            padding-top: 10px;
        }
    }

    &[data-margin-top="0"] {
        padding-top: 0;
    }

    // Data-margin-bottom //
    &[data-margin-bottom="80"] {
        padding-bottom: 80px;
        @include tablet {
            padding-bottom: 40px;
        }
    }

    &[data-margin-bottom="60"] {
        padding-bottom: 60px;
        @include tablet {
            padding-bottom: 30px;
        }
    }

    &[data-margin-bottom="40"] {
        padding-bottom: 40px;
        @include tablet{
            padding-bottom: 20px;
        }
    }

    &[data-margin-bottom="20"] {
        padding-bottom: 20px;
        @include tablet {
            padding-bottom: 10px;
        }
    }

    &[data-margin-bottom="0"] {
        padding-bottom: 0;
    }

}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}