.form {
    background: $mediumGrey;

    form {
        width: 100%;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 80px 0;

        input, textarea {
            background: $white;
            margin: 0 0 10px 10px;
            padding: 5px;
        }

        button {
            background: $white;
            padding: 5px;
        }

    }

}